body {
    --color-brand-visited: #2757dd !important;
}

body[data-theme="dark"] {
    --color-brand-visited: #5ca5ff !important;
}

.sidebar-brand-text {
    font-size: 1.45rem !important;
}

.sd-badge {
    font-size: 0.45em !important;
    vertical-align: middle;
    margin-top: -0.45em;
    border-radius: 100rem;
}